<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323371708222-klb0vai0bipovi91hj2d58f4bst3g8di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323371708222-klb0vai0bipovi91hj2d58f4bst3g8di</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>323371708222-k54hce28949djtimtl60ksbelfjp2t97.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKcNEaiVXPK9CXIcXqKbeClPnAwnkyPmo</string>
	<key>GCM_SENDER_ID</key>
	<string>323371708222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeancuervo.quizappuic</string>
	<key>PROJECT_ID</key>
	<string>quizapp-uic</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-uic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323371708222:ios:54375bef92d1f2f68b466f</string>
</dict>
</plist>